/cypher/bin
/cypher/obj
/cypher/cypher.cbp
/cypher/cypher.layout
/cypher/main.exe
/cypher/main.o
/mario/bin
/mario/obj
/mario/mario.cbp
/data-struct-c/linked-list/bin
/data-struct-c/linked-list/obj
/data-struct-c/linked-list/linked-list.cbp
/data-struct-c/linked-list/linked-list.layout
/data-struct-c/stack/bin
/data-struct-c/stack/obj
/data-struct-c/stack/stack.cbp
/data-struct-c/stack/stack.layout
/data-struct-c/queue/bin
/data-struct-c/queue/obj
/data-struct-c/queue/queue.cbp
/data-struct-c/queue/queue.layout