/cypher/bin
/cypher/obj
/cypher/cypher.cbp
/cypher/cypher.layout
/cypher/main.exe
/cypher/main.o
/mario/bin
/mario/obj
/mario/mario.cbp
/data-stuct-c/linked-list/bin
/data-stuct-c/linked-list/obj
/data-stuct-c/linked-list/linked-list.cbp
/data-stuct-c/linked-list/linked-list.layout